* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    /* this prevents scrolling on oversize canvas */
    /* overflow: hidden; */
}

body {
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: 200px auto;
    background-color: rgb(112, 112, 112);
}

.title-bar {
    /* this line lets electron treat this area like a draggable windows titlebar*/
    -webkit-app-region: drag;
    background-color: rgb(65, 65, 65);
    height: 30px;
    color: white;
    display: flex;
    grid-row: 1;
    grid-column: 1 / -1;
}

.title-button-container {
    color: white;
    display: flex;
}

.min-max-close {
    margin-left: auto;
}

.title-button {
    display: flex;
    /* makes sure buttons on the title bar don't drag the whole window */
    -webkit-app-region: no-drag;
    /* makes the text on the buttons unselectable */
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
    padding: 0px 10px;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title-button:hover {
    background-color: rgba(155, 155, 155, 0.336);
}

#close-button:hover {
    background-color: red;
}

#canvas-container {
    display: flex;
    padding: 20px;
}

.canvas {
    position: absolute;

}

#preview-canvas { 
    pointer-events:none; 
}

#hotkeys-container {
    display: none;
    flex-direction: column;
    background-color: white;
    align-items: center;
    flex: 1;
    padding: 10px;
    text-align: center;
}

#hotkeys-container h1 {
    border-bottom: 2px solid black;
}

#hotkeys-container h2 {
    margin-top: 10px;
}

#hotkeys-close {
    align-self: center;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 75, 75);
    grid-row: 2 / -1;
    grid-column: 1;
    color: white;
}

.sidebar-row:hover {
    background-color: rgba(155, 155, 155, 0.336);
}

.sidebar-main-row {
    display: flex;
}

.sidebar-main-row label {
    margin-right: auto;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 8px 5px;
}

.sidebar-subrow {
    background-color: white;
    color: black;
    display: none;
    font-size: small;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.sidebar-subrow label {
    flex: 1;
}

.sidebar-subrow input {
    max-width: 100px;
}

.sidebar-button {
    border-radius: 5px;
    border: 1px solid gray;
    background-color: lightgray;
    color: black;
    text-align: center;
    font-size: medium;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

.sidebar-radio {
    width: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.sidebar-checkbox {
    cursor: pointer;
}

.sidebar-number {
    flex: 1;
}

.sidebar-slider {
    width: 100px;
}

.sidebar-color {
    width: 60px;
    margin-right: 5px;
}

.eye-dropper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-button {
    font-size: larger;
    background-color: transparent;
    padding: 0px 10px;
    border: none;
    color: lightgray;
}

.arrow-button:hover {
    background-color: gray;
}

button {
    cursor: pointer;
}

i {
    pointer-events: none;
}