* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    background-color: gray;
    background-image: url("./images/grid.jpg");
    overflow: hidden;
}

.title-bar {
    background-color: rgb(65, 65, 65);
    color: white;
    display: flex;
    height: 40px;
}

.title-bar section {
    display: flex;
    border-left: 3px solid gray;
}

.title-button {
    display: flex;
    /* makes the text on the buttons unselectable */
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
    padding: 0px 15px;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border: none;
}

#hotkeys-button {
    margin-left: auto;
}

.title-button:hover {
    background-color: rgba(155, 155, 155, 0.336);
}

#drawing-area {
    flex: 1;
}
 
.canvas {
    position: absolute;
}

#preview-canvas { 
    pointer-events:none;
    touch-action: none;
}

#hotkeys-container {
    display: none;
    flex-direction: column;
    background-color: white;
    align-items: center;
    flex: 1;
    padding: 10px;
    text-align: center;
    overflow: auto;
}

#hotkeys-container h1 {
    border-bottom: 2px solid black;
}

#hotkeys-container h2 {
    margin-top: 10px;
}

#hotkeys-close {
    align-self: center;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 75, 75);
    color: white;
    z-index: 10000;
    overflow: auto;
    min-width: 300px;
    max-width: 500px;
    resize: horizontal;
}

.sidebar-row:hover {
    background-color: rgba(155, 155, 155, 0.336);
}

.sidebar-main-row {
    display: flex;
    margin-right: 5px;
}

.sidebar-main-row label {
    margin-right: auto;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 5px;
}

.sidebar-subrow {
    background-color: lightgray;
    color: black;
    display: none;
    font-size: small;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.sidebar-subrow label {
    flex: 1;
}

.sidebar-subrow input {
    max-width: 100px;
}

.sidebar-button {
    border-radius: 5px;
    border: 1px solid gray;
    background-color: lightgray;
    color: black;
    text-align: center;
    font-size: medium;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

.sidebar-radio {
    cursor: pointer;
    margin: auto;
}

.sidebar-number {
    flex: 1;
}

.sidebar-slider {
    width: 100px;
}

.sidebar-color {
    width: 60px;
    align-self: center;
}

#composite-operation {
    margin: 8px 0px;
}

.eye-dropper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-eyedropper {
    margin-right: 5px;
}

.arrow-button {
    font-size: x-large;
    color: lightgray;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    height: 100%;
}

.arrow-button:hover {
    background-color: gray;
}

.font-row {
    justify-content: space-evenly;
}

.font-button {
    padding: 5px 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

.clicked {
    background-color: rgb(41, 82, 219);
    color: white;
    border: 2px solid black;
}

#image-upload {
    display: none;
}

#image-upload-label {
    cursor: pointer;
}

.image-subrow {
    border: none;
    border-top: 1px solid gray;
    width: 100%;
}

.image-subrow span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
    pointer-events: none;
}

.image-icon {
    max-height: 32px;
    pointer-events: none;
    box-shadow: 0px 0px 5px 0px gray;
}

.image-selected {
    background-color: rgb(41, 82, 219);
    color: white;
}

.color-button {
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    font-size: small;
}

button {
    cursor: pointer;
}

i {
    pointer-events: none;
}

footer {
    background-color: rgb(65, 65, 65);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px 10px;
    font-size: small;
}


@media screen and (max-width: 800px) {
    main {
        position: relative;
    }

    #sidebar {
        position: absolute;
        height: 100%;
        max-width: 100%;
        opacity: 98%;
        box-shadow: 4px 0px 20px 5px black;
    }
}

@media screen and (max-width: 500px) {
    main {
        position: relative;
    }

    #sidebar {
        min-width: 100%;
    }
}