* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    /* this prevents scrolling on oversize canvas */
    /* overflow: hidden; */
}

body {
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: 200px auto;
    background-color: rgb(155, 190, 253);
}

.title-bar {
    /* this line lets electron treat this area like a draggable windows titlebar*/
    -webkit-app-region: drag;
    background-color: rgb(76, 87, 107);
    height: 30px;
    color: white;
    display: flex;
    grid-row: 1;
    grid-column: 1 / -1;
}

.title-button-container {
    color: white;
    display: flex;
}

.min-max-close {
    margin-left: auto;
}

.title-button {
    display: flex;
    /* makes sure buttons on the title bar don't drag the whole window */
    -webkit-app-region: no-drag;
    /* makes the text on the buttons unselectable */
    -webkit-user-select: none;
    height: 100%;
    width: 50px;
    color: white;
    align-items: center;
    justify-content: center;
}

.title-button:hover {
    cursor: default;
    background-color: rgba(155, 155, 155, 0.336);
}

#close-button:hover {
    background-color: red;
}

.canvas {
    position: absolute;
    margin: 20px 20px 0 20px;
    /* padding: 0px 20px; */
}

#preview-canvas { 
    pointer-events:none; 
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    grid-row: 2 / -1;
    grid-column: 1;
}

.sidebar-row {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}


.sidebar-row:hover {
    background-color: lightskyblue;
}

.sidebar-row label {
    flex: 1;
    padding: 5px 0px;
}

.sidebar-button {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}

.sidebar-checkbox {
    height: 100%;
    width: 20px;
    margin: 0px 2px;
}

.sidebar-number {
    width: 40px;
}

.sidebar-slider {
    width: 100px;
}

.color-picker {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}